/* RESPONSİVE */
@media screen and (max-width: 1215px) {
    .hero .hero-button #arama {
        padding: 15px;
    }
    .hero .hero-button #arama-butonu {
        padding: 15px;
    }
    .slide .saga-kaydirma {
        font-size: 25px;
    }
    .slide .sola-kaydirma {
        font-size: 25px;
    }
    .organic-products-cards .card {
        width: calc(50% - 70px);
    }

}
@media screen and (max-width: 992px) {
    .hero-background {
        flex-direction: column;
    }
    .header-top {
        display: none;
    }
    .header-bottom .menu {
        display: none;
    }
    .header-bottom .icon {
        display: none;
    }
    .hamburger-icon {
        display: block;
        font-size: 32px;
        color: #81C408;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 5px 20px;
    }
    .hamburger-icon:hover {
        background-color: #81C408;
        color: #fff;
        cursor: pointer;
    }
    .container .featurs .point {
        width: calc(50% - 20px);
    }
    .organic-products-header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .organic-products-menu #organic {
        margin-top: 10px;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container .footer-header {
        text-align: center;
        display: flow-root;
    }
    .container .footer-header .footer-subscribe  {
        width: 80%;
        margin:auto;
        justify-content: center;
    }
    .container .footer-header .footer-icon {
        justify-content: center;
    }
    .container .footer-content {
        flex-wrap: wrap;
    }
    .footer-content .fc-1 {
        width: calc(50% - 20px);
    }
    
}
@media screen and (max-width: 768px) {
    .hero .search-button h1 {
        font-size: 46px;
    }
    .organic-products-cards {
        align-items: center;
        justify-content: center;
    }
    .organic-products-cards .card {
        width: 80%;
    }
    .organic-products-cards .card .card-footer div button {
        font-size: 15px;
        padding: 5px 10px;
    }
    .organic-products-cards .card .card-footer p {
        font-size: 16px;
    }
    .footer-copyright {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .footer-content .fc-1 {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {

    .hero .search-button h1 {
        font-size: 36px;
    }
    .hero .search-button p {
        font-size: 16px;
    }
    .hero .hero-button #arama {
        padding: 10px;
    }
    .hero .hero-button #arama-butonu {
        padding: 10px;
    }
    /**/
    .slide .saga-kaydirma {
        font-size: 15px;
    }
    .slide .sola-kaydirma {
        font-size: 15px;
    }
    .slide #middle-hero {
        padding: 5px;
    }
    .container {
        padding-right: 50px;
        padding-left: 50px;
    }
    .slide #middle-hero {
        top: 59%;
    }
    .slide .sola-kaydirma {
        top: 55%;
    }
    .slide .saga-kaydirma {
        top: 55%;
    }
    .container .featurs .point {
        width: 100%;
    }
}
@media screen and (max-width: 485px) {
    .hero .hero-button #arama {
        padding: 5px;
    }
    .hero .hero-button #arama-butonu {
        padding: 5px;
    }
    .slide .saga-kaydirma {
        font-size: 10px;
    }
    .slide .sola-kaydirma {
        font-size: 10px;
    }
    .slide #middle-hero {
        padding: 2px;
    }
    .slide #middle-hero #ortalama {
        font-size: 20px;
    }
    .container .footer-header .footer-subscribe .footer-button .button-text,.submit  {
        padding: 8px 12px;
        height: 35px;
    }
}
@media screen and (max-width: 380px) {
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
    .hero .hero-button #arama {
        padding: 2.5px;
    }
    .hero .hero-button #arama-butonu {
        padding: 2.5px;
    }
    .hero .search-button h1 {
        font-size: 30px;
    }
    .hero .search-button p {
        font-size: 12px;
    }
    .slide #middle-hero #ortalama {
        font-size: 15px;
    }
    .slide .sola-kaydirma {
        right: 87%;
    }
    .slide .saga-kaydirma {
        left: 87%;
    }
}
