* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
body {
    font-family: "Open Sans", sans-serif;
}
.container {
    padding-right: 75px;
    padding-left: 75px; 
}
/* HEADER TOP START */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #81C408;
    border-radius: 230px 100px;
}
.header-top .sol {
    display: flex;
}
.header-top .sag .policy {
    display: flex;
}
.header-top .sag .policy li {
    margin-right: 16px;
}
.header-top .sag .policy a {
    color: #fff;
}
.header-top .address {
    margin-left: 5px;
    margin-right: 12px;
    display: flex;
    align-items: center;
}
.header-top .mail {
    display: flex;
    align-items: center;
}
.header-top .address i {
    color: #FFB524;
}
.header-top .sol i {
    color: #FFB524;
    margin-right: 5px;
}
.header-top .sol p {
    color: #fff;
}
.header-top .sag .policy a:hover {
    color: #FFB524;
    transition: 0.5s;
}
/* HEADER START */
.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.header-bottom .logo {
    color: #81C408;
    font-size: 32px;
    font-weight: 800;
}
.header-bottom .menu {
    display: flex;
    align-items: center;
}
.header-bottom .menu li {
    margin-right: 12px;
}
.header-bottom .menu li a {
    color: rgba(0,0,0,.7);
    font-size: 20px;
    transition: .5s;
}
.header-bottom .menu li a:hover {
    color: #81C408;
}
.header-bottom .icon i {
    font-size: 32px;
    color: #81C408;
    cursor: pointer;
}
.header-bottom .icon .search-icon i {
    font-size: 16px;
}
.header-bottom .icon {
    display: flex;
    align-items: center;
}
.header-bottom .icon div {
    margin-right: 12px;
}
.header-bottom .icon div:first-child {
    border: 1px solid #FFB524;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}
.header-bottom .icon i:hover {
    color: #198754;
    transition: .5s;
}
.header-bottom .icon .search-icon:hover {
    background-color: #FFB524;
}
.hamburger-icon{
    display: none;
}
/* HEADER RESPONSİVE  */
@media screen and (max-width: 992px) {
    .header-top {
        display: none;
    }
    .header-bottom .menu {
        display: none;
    }
    .header-bottom .icon {
        display: none;
    }
    .hamburger-icon {
        display: block;
        font-size: 32px;
        color: #81C408;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 5px 20px;
    }
    .hamburger-icon:hover {
        background-color: #81C408;
        color: #fff;
        cursor: pointer;
    }
}
/* HERO START */
.hero {
    background-image: url(./assets/images/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: 100%;
    width: 100%;
    height: 525px;
}
.hero-background {
    display: flex;
    justify-content: space-between;
}
.hero .search-button {
    align-items: center;
    padding: 10px;
    margin-top: 75px;
}
.hero .search-button p {
    color: #FFB524;
    font-size: 24px;
    font-weight: bolder;
    padding: 10px;
}
.hero .search-button h1 {
    color: #81C408;
    font-size: 64px;
    font-weight: 600px;
    padding: 0px 10px;
    margin-bottom: 50px;
}
.hero .hero-background {
    align-items: center;
}
.hero .hero-button {
    border: 2px solid #FFB524;
    border-radius: 20px
}
.hero .hero-button #arama {
    padding: 20px;
    width: 78%;
    border-radius: 20px;
    border: none;
}
.hero .hero-button #arama:hover {
    border: none;
}
.hero .hero-button #arama-butonu {
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    background-color: #81C408;
    float: right;
    border: 1px solid #FFB524;
}
.hero .hero-button #arama-butonu:hover {
    background-color: #FFB524;
    transition: .5s;
}
/* HERO SLİDE İMAGE START */
.slide {
    position: relative;
}
.slide .hero-img {
    display: block;
    background-color: #FFB524;
    border-radius: 10px;
    margin-top: 80px;
    position: relative;
}
.slide .sola-kaydirma {
    position: absolute;
    top: 50%;
    right: 90%;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    opacity: .5;
}
.slide .sola-kaydirma:hover {
    opacity: 1;
    transition: .5s;
}
.slide .sola-kaydirma .circle {
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    background-color: #81C408;
    padding: 10px;
    margin-left: 10px;
}
.slide .saga-kaydirma {
    position: absolute;
    top: 50%;
    left: 90%;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    opacity: .5;
}
.slide .saga-kaydirma:hover {
    opacity: 1;
    transition: .5s;
}
.slide .saga-kaydirma .circle2 {
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    background-color: #81C408;
    padding: 10px;
    margin-right: 10px;
}
.slide #middle-hero {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #FFB524;
    border-radius: 10px;
    background-color: #FFB524; 
    padding: 10px; 
    cursor: pointer;
    opacity: .7;
}
.slide #middle-hero #ortalama {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}