* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.container {
    padding-right: 75px;
    padding-left: 75px; 
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #81C408;
    border-radius: 230px 100px;
}
.header-top .sol {
    display: flex;
}
.header-top .sag .policy {
    display: flex;
}
.header-top .sag .policy li {
    margin-right: 16px;
}
.header-top .sag .policy a {
    color: #fff;
}
.header-top .address {
    margin-right: 12px;
    display: flex;
    align-items: center;
}
.header-top .mail {
    display: flex;
    align-items: center;
}
.header-top .address i {
    color: #FFB524;
}
.header-top .sol i {
    color: #FFB524;
    margin-right: 5px;
}
.header-top .sol p {
    color: #fff;
}

