* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
body {
    font-family: "Open Sans", sans-serif;
}
.container {
    padding-right: 75px;
    padding-left: 75px; 
}
/* HEADER TOP START */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #81C408;
    border-radius: 230px 100px;
}
.header-top .sol {
    display: flex;
}
.header-top .sag .policy {
    display: flex;
}
.header-top .sag .policy li {
    margin-right: 16px;
}
.header-top .sag .policy a {
    color: #fff;
}
.header-top .address {
    margin-left: 5px;
    margin-right: 12px;
    display: flex;
    align-items: center;
}
.header-top .mail {
    display: flex;
    align-items: center;
}
.header-top .address i {
    color: #FFB524;
}
.header-top .sol i {
    color: #FFB524;
    margin-right: 5px;
}
.header-top .sol p {
    color: #fff;
}
.header-top .sag .policy a:hover {
    color: #FFB524;
    transition: 0.5s;
}
/* HEADER START */
.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    margin-top: 25px;
}
.header-bottom .logo {
    color: #81C408;
    font-size: 32px;
    font-weight: 800;
}
.header-bottom .menu {
    display: flex;
    align-items: center;
}
.header-bottom .menu li {
    margin-right: 12px;
}
.header-bottom .menu li a {
    color: rgba(0,0,0,.7);
    font-size: 20px;
    transition: .5s;
}
.header-bottom .menu li a:hover {
    color: #81C408;
}
.header-bottom .icon i {
    font-size: 32px;
    color: #81C408;
    cursor: pointer;
}
.header-bottom .icon .search i {
    font-size: 16px;
}
.header-bottom .icon {
    display: flex;
    align-items: center;
}
.header-bottom .icon div {
    margin-right: 12px;
}
.header-bottom .icon div:first-child {
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}
.header-bottom .icon i:hover {
    color: #198754;
    transition: .5s;
}
.header-bottom .icon .search:hover {
    background-color: #FFB524;
}
